<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jquary</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("p").hide();
            });

            $("#show").click(function(){
                $("p").show();

            });
        });
    </script>
</head>
<body>
<p> This is second paragraph </p>
<button id="hide"> Hide </button>
<button id="show"> Show </button>

</body>
</html>