<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Internal Style shets </title>
    <style type="text/css">
        body{
           background-image:url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=");
            background-repeat:no-repeat;
            background-attachment:fixed;
            -webkit-background-size: 100%;
        }
        div{ ;
            height:200px;
            width:700px;
            border:3px solid red;
            overflow:scroll;
        }
     </style>
</head>
<body>
<h1> This is my Heading </h1>
<p> This is my first passage </p>
<div >
    <p> This is second passage<br>
        JavaScript, often abbreviated as JS, is a programming language that is
        one of the core technologies of the World Wide Web, alongside HTML and CSS.
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
        often incorporating third-party libraries. WikipediaJavaScript, often abbreviated as JS, is a programming language that is
        one of the core technologies of the World Wide Web, alongside HTML and CSS.
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
        often incorporating third-party libraries. WikipediaJavaScript, often abbreviated as JS, is a programming language that is
        one of the core technologies of the World Wide Web, alongside HTML and CSS.
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
        often incorporating third-party libraries. WikipediaJavaScript, often abbreviated as JS, is a programming language that is
        one of the core technologies of the World Wide Web, alongside HTML and CSS.
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
        often incorporating third-party libraries. WikipediaJavaScript, often abbreviated as JS, is a programming language that is
        one of the core technologies of the World Wide Web, alongside HTML and CSS.
        As of 2022, 98% of websites use JavaScript on the client side for webpage behavior,
        often incorporating third-party libraries. Wikipedia
    </p>
</div>

</body>
</html>